.w-35{
    width: 35%
}

.bg-red{
    background-color: rgb(198, 42, 42);
}

.bg-aqua{
    background-color: rgb(217, 249, 255);
}

.poke-card {
    width: 80%;
    height: 200px;
    margin: 0 auto;
}
.poke-img {
    height: 100%;
    width: auto;
    object-fit: contain;
}